<div class="container-fluid bg-secondary text-dark mt-5 pt-5" th:fragment="footer">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold"><span
                        class="text-primary font-weight-bold border border-white px-3 mr-1">STA</span>SHOP</h1>
            </a>
            <p>STA Shop – Đồng hành cùng bạn trong từng nét chữ, từng công việc với văn phòng phẩm chất lượng và tinh
                tế.</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Trần Phú, Hà Đông, Hà Nội</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>staShop@gmail.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>0981077923</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">

                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Truy cập nhanh</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="/customer/home"><i class="fa fa-angle-right mr-2"></i>Trang
                            chủ</a>


                        <a class="text-dark" href="/customer/contact"><i class="fa fa-angle-right mr-2"></i>Liên hệ</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Tâm thư</h5>
                    <p>
                        STASHOP – Lời tri ân từ tận đáy lòng 💌
                    <p>Kính gửi Quý khách hàng thân yêu,
                        trước tiên, STASHOP xin gửi lời chào trân trọng và lời cảm ơn chân thành nhất đến Quý khách đã
                        tin tưởng và lựa chọn chúng tôi trong suốt thời gian qua.
                        Giữa muôn vàn lựa chọn, việc bạn ghé thăm và đặt niềm tin nơi Stashop là điều vô cùng quý giá
                        với chúng tôi.
                        Chúc bạn mỗi ngày đều tràn đầy cảm hứng và niềm vui từ những điều giản dị nhất.</p>
                    <p>Thân ái, Đội ngũ STASHOP</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">

        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="img/payments.png" alt="">
        </div>
    </div>
</div>